  <div id="foodlist">
  <h2>Pizza Menu</h2>
  <ul id="pizza-list">
    <li>
      <span class="pizza-name">Margherita Pizza</span>
      <span class="pizza-price">$10</span>
      <button class="add-button">Add</button>
      <button class="remove-button">Remove</button>
    </li>
    <li>
      <span class="pizza-name">Pepperoni Pizza</span>
      <span class="pizza-price">$12</span>
      <button class="add-button">Add</button>
      <button class="remove-button">Remove</button>
    </li>
    <li>
      <span class="pizza-name">Vegetarian Pizza</span>
      <span class="pizza-price">$11</span>
      <button class="add-button">Add</button>
      <button class="remove-button">Remove</button>
    </li>
    <!-- Add more pizzas here -->
  </ul>
  
  <h2>Order Summary</h2>
  <ul id="order-summary"></ul>
  <h2>Total Amount: <span id="total-amount">$0.00</span></h2>
</div>